
.bg-blue {
    background-color: rgb(81, 81, 253);
}


.bg-orangered {
    background-color: rgb(252, 105, 25);
}


.bg-black-nv1 {
    background-color: rgb(40, 40, 40);
}
.bg-black-nv2 {
    background-color: rgb(31, 31, 31);
}
.bg-black-nv3 {
    background-color: rgb(49, 49, 49);
}
