
.my-container {
    padding: 0.6em;
}

.box-display {
    display: flex;
    flex-wrap: wrap;
    
}
.text-orangered {
  color: orangered;
}

.selected {
  background-color: orangered;
  color: black;
}
.btn-add-transaction {
    background-color: rgb(185, 50, 1);
}

.my-box-form {
    width: 100%;
    margin: 1em 0;
    padding: 1em;
    border-radius: 0.4em;
    background-color: rgb(32, 31, 31);
}

.message-error {
    width: 100%;
    background-color: rgb(241, 85, 85);
    border-radius: 0.5em;
    font-size: 1em;
    padding: 0.5em 0;
    vertical-align: 50%;
    margin: 2em 0;
    text-align: center;
}
.message-success {
    width: 100%;
    background-color: rgb(69, 144, 71);
    border-radius: 0.5em;
    font-size: 1em;
    padding: 0.5em 0;
    vertical-align: 50%;
    margin: 2em 0;
    text-align: center;
}

.my-icon {
    margin-right: 0.5em;
    color: orangered;
  }

  .my-box {
    margin-bottom: 1em;
  }
  .inactive {
    background-color: #242424;
    padding: 15px 30px 15px 20px;
    border-radius: 0.4em;
    width: 100%;
  }

  .active {
    background-color: orangered;
    padding: 15px 30px 15px 20px;
    border-radius: 0.4em;
    width: 100%;
  }
  .inactive p i {
    color: orangered;
  }
  .my-link {
    text-decoration: none;
    color: white;
  }


  .box-select {
    display: flex;
    margin: 0.6em 0;
  }
  .my-select {
    background-color: rgb(34, 34, 34);
    width: 100%;
    padding: 0.5em 0 0.5em 1em;
    border-radius: 0.2em;
  }
  .text-red {
    color: rgb(90, 3, 3);
  }

