
body {
    padding: 1em;
    background-color: black;
    min-height: 100vh;
    margin: 0;
    border: 0;
    
}

.icon-color {
    margin-right: 0.5em;
    color: orangered;
}

.right {
    text-align: right;
}
.center {
    text-align: center;
}

.shelf {
    background-color: rgb(29, 29, 29);
    border-radius: 0.5em;
    padding: 1em;
    margin-top: 0.4em;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.4em;
}
.my-box {
    flex: 1;
}

.display {
    background-color: black;
    margin: 0.2em;
    border-radius: 0.5em;
    padding-left: 1em;
}

.fullwidth {
    width: 100%;

}

.btn {
    border: 0;
    margin: 0;
    border-radius: 0.4em;
}

.px4 {
    padding: 0.4em 0 0.4em 0;
}

.border-orange {
    border: 1px solid orangered;
}