
* {
    border: 0;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

@font-face {
    font-family: 'Comfortaa';
    src: url('../fonts/comfortaa/Comfortaa-Regular.ttf') format('woff');
    }

.scroll-table {
    
    overflow-x: auto;
    white-space: nowrap;
}

body {
    background-color: rgb(44, 44, 44);
    min-height: 100vh;
}

.is-active-orangered {
    background-color: orangered;
    color: white;
}


