
.my-table-container {
    overflow-x: auto; /* Adiciona barra de rolagem horizontal */
    min-width: 300px;/* Largura mínima do contêiner */
    max-width: 100%; /* Evita que a tabela se estenda além do contêiner */
}
.my-table {
    width: auto;
    table-layout: fixed;
    min-width: 100%;
    overflow-x: auto;
    border: 1px solid rgb(83, 83, 83);
}

.my-table thead tr th {
    text-align: center;
    border: 1px solid rgb(83, 83, 83);
    color: rgb(242, 67, 3);
    background-color: rgb(26, 26, 26);
    padding-left: 0.4em;
 
    min-width: 6em;
}
.my-table tbody tr {
    border: 1px solid rgb(83, 83, 83);
}

.my-table tbody tr td {
    
    color: rgb(197, 197, 197);
    text-align: center;
    min-width: 6em;
    padding: 0.4em 0 0.4em 1em;
}

