
.my-table-container {
    overflow-x: auto; /* Adiciona barra de rolagem horizontal */
    min-width: 300px;/* Largura mínima do contêiner */
    max-width: 100%; /* Evita que a tabela se estenda além do contêiner */
}
.my-table {
    width: auto;
    table-layout: fixed;
    min-width: 100%;
    overflow-x: auto;
}


.my-table thead tr th {
    text-align: left;
    color: rgb(193, 54, 4);
    background-color: rgb(26, 26, 26);
    padding: 0.5em;
    font-size: 0.8em;
    min-width: 10em;
}

.my-table tbody tr td {
    text-align: left;
    padding: 0.4em 0 0.4em 0.5em;
    font-size: 0.8em;
    color: rgb(145, 143, 143);
}

.td-total-red {
    color: red;
    font-size: 1.2em;
    background-color: black;
}
.td-total-green {
    color: green;
    font-size: 1.2em;
    background-color: black;
}
.td-total-yellow {
    color: yellow;
    font-size: 1.5em;
    background-color: black;
}
.td-total-null {
    background-color: black;
}

/* linhas pares */
tr:nth-child(even) {
    background-color: #1e1e1e;
}

/* linhas impares */
tr:nth-child(odd) {
    background-color: #262525;
}
