.container {
    padding-top: 5%;
}
#title {
    color: orangered;
    padding-bottom: 1em;
    cursor: pointer;
}
#subtitle {
    color: white;
    padding-bottom: 1em;
    cursor: pointer;
}
#center {
    text-align: center;
}
#area-link {
    margin-bottom: 2em;
}
#link {
    color: orangered;
    padding-right: 2em;
    font-size: 1.2em;
    cursor: pointer;
}
#months {
    border: 0.1em solid white;
    border-radius: 0.4em;
    color: white;
}
label {
    color: white;
}
#input {
    background-color: rgb(59, 59, 59);
    border-color: rgb(60, 60, 60);
    margin: 0.5em 0em 1em 0em;
    color: white;
    box-shadow: 5px 5px 10px rgb(30, 29, 28);
  }

/* CONFIGURAÇÕES DE BOTOES */

#button-success {
    font-size: 1em;
    padding: 0.4em 2em;
    border-radius: 0.4em;
    border: 0;
    background-color: rgb(44, 154, 44);
    color: white;
    margin: 0.5em;
}
#button-danger {
    font-size: 1em;
    padding: 0.4em 2em;
    border-radius: 0.4em;
    border: 0;
    background-color: rgb(133, 26, 26);
    color: white;
    margin: 0.5em;
}


/* CONFIGURAÇÕES MENSAGENS DE SUCESSO E DE ERRO */
#area-message {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.2em;
    margin-top: 1em;
}
#success {
    padding: 0.4em 10em 0.4em 10em;
    border-radius: 0.5em;
    background-color: rgb(68, 160, 68)
}
#error {
    padding: 0.4em 10em 0.4em 10em;
    border-radius: 0.5em;
    background-color: rgb(207, 63, 63);

}



.column {
    color: white;
}

.toggle {
  color: rgb(58, 58, 210);
  
}

table {
    width: 100%;
    border-collapse: collapse;

}

table thead tr{
    border: 1px solid orangered;
    background-color: #080808;
    box-shadow: 5px 5px 10px rgb(39, 28, 23);
    text-align: center;
}  
table thead tr th {
    color: white;
    padding: 0.4em 0em;
    vertical-align: middle;
}
table tbody tr {
    text-align: center;
}
table tbody tr td {
    padding: 0.4em 1em;
    border: 1px solid rgb(53, 52, 52);
    vertical-align: middle;
    color: white;
}
table tfoot tr {
    text-align: center;
}
table tfoot tr th {
    border: 1px solid rgb(53, 52, 52);
    color: rgb(255, 255, 255);
    vertical-align: middle;
}

  


  #yearSelect {
    color: white;
    background-color: #585858;
    padding: 0.4em 1em;
  }

  #valueRed {
    color: red;
    font-size: 1em;
    font-size: 1.2em;
    vertical-align: middle;
  }


