* {
    margin: 0;
    border: 0;
    padding: 0;
}
#app {
    background-color: rgb(39, 39, 39);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%;
    
}
#category-table {
    margin: 1em;
    overflow-x: auto;
}
#table-container {
    width: 100%;

}
#table-container table {
    width: 100%;
    text-align: center;
}
#table-container table thead{
    text-align: center;
    
}
#table-tbody{

    width: 100%;
    table-layout: fixed; 
    
}







#cell_category {
    min-width: 100%;
    color: orangered;
    background-color: rgb(32, 32, 32);
    font-weight: 900;
    border: 1px solid orangered;
}

#cell_head {
    min-width: 7em;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(100, 100, 245);
    border: 1px solid rgb(250, 250, 250);
}
#cell_body {
    min-width: 7em;
    color: white;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(54, 54, 54);
}
#cell_body_esp {
    min-width: 7em;
    color: white;
    background-color: rgb(32, 32, 32);
    border: 1px solid rgb(255, 255, 255);
}

td, th {
    vertical-align: middle;
}

#center {
    text-align: center;
    
}

label {
    color: white;
    padding-top: 1em;
    font-size: 1.2em;
}
#input {
    background-color: rgb(59, 59, 59);
    border-color: rgb(33, 33, 33);
    color: white;
    box-shadow: 5px 5px 10px rgb(30, 29, 28);
    max-width: 80%;
}
#button {
    font-size: 1em;
    padding: 1em 1em;
    margin: 0.2em;
    border-radius: 0.7em;
    border: 0;
    background-color: rgb(19, 19, 164);
    color: white;
    
}
#button-success {
    font-size: 1.2em;
    padding: 0.2em 2em;
    border-radius: 0.2em;
    border: 0;
    background-color: rgb(44, 154, 44);
    color: white;
    margin: 0.5em;
}
#area-message {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%;
}
#success {
    padding: 0.4em 10em 0.4em 10em;
    border-radius: 0.5em;
    background-color: rgb(68, 160, 68);
    color: white;
    text-align: center;
    font-size: 1.4;
    max-width: 80%; 
}
#error {
    text-align: center;
    padding: 0.4em 10em 0.4em 10em;
    border-radius: 0.5em;
    background-color: rgb(207, 63, 63);
    color: white;
    font-size: 1.4;
max-width: 80%;
}


