* {
    margin: 0;
    border: 0;
    padding: 0;
}

#container {
    padding-top: 3%; 

}


#center {
    text-align: center;
    
}

label {
    color: white;
    padding-top: 1em;
}
#input {
    background-color: rgb(59, 59, 59);
    border-color: rgb(33, 33, 33);
    color: white;
    box-shadow: 5px 5px 10px rgb(30, 29, 28);
}
#button {
    font-size: 1em;
    padding: 0.5em 1em;
    border-radius: 0.2em;
    border: 0;
    background-color: rgb(19, 19, 164);
    color: white;
    
}
#button-success {
    font-size: 1.2em;
    padding: 0.2em 2em;
    border-radius: 0.2em;
    border: 0;
    background-color: rgb(44, 154, 44);
    color: white;
    margin: 0.5em;
}
#success {
    padding: 0.4em 10em 0.4em 10em;
    border-radius: 0.5em;
    background-color: rgb(68, 160, 68);
    color: white;
    text-align: center;
    font-size: 1.4;
}
#error {
    text-align: center;
    padding: 0.4em 10em 0.4em 10em;
    border-radius: 0.5em;
    background-color: rgb(207, 63, 63);
    color: white;
    font-size: 1.4;
}

#container table thead th {
    border: 1px solid rgb(85, 85, 85);
    color: white;
    cursor: pointer;
    font-size: 1em;
    vertical-align: middle;
    text-align: center;
}

#container table tbody td {
    border: 1px solid rgb(85, 85, 85);
    color: white;
    cursor: pointer;
    font-size: 1em;
    vertical-align: middle;
    text-align: center;
}
label {
    color: white;
    padding-top: 1em;
}
#input {
    background-color: rgb(59, 59, 59);
    border-color: rgb(33, 33, 33);
    color: white;
    box-shadow: 5px 5px 10px rgb(30, 29, 28);
}
#button {
    font-size: 1em;
    padding: 0.8em 2em;
    border-radius: 0.2em;
    border: 0;
    background-color: rgb(19, 19, 164);
    color: white;
    margin: 0.5em;
}
#button-success {
    font-size: 1.2em;
    padding: 0.2em 2em;
    border-radius: 0.2em;
    border: 0;
    background-color: rgb(44, 154, 44);
    color: white;
    margin: 0.5em;
}
